<!--The content below is only a placeholder and can be replaced.-->
<br>
<br>
<div class="container"> 
    <div class="row">
        <div class="btn-group" role="group">
            <button type="button"  routerLink="/etch" routerLinkActive="active" class="btn btn-primary btn-sm">Add Data <i class="fa fa-database" aria-hidden="true"></i></button>
            <button type="button" routerLink="/" routerLinkActive="active" class="btn btn-warning btn-sm ">View Data [Table] <i class="fa fa-table" aria-hidden="true"></i></button>
          <button type="button" routerLink="/charts" routerLinkActive="active" class="btn btn-secondary btn-sm ">View Data [Charts] <i class="fa fa-bar-chart" aria-hidden="true"></i></button>
         </div>
      </div>
</div>

<div class="container">
  <br>
    <div class="card shadow-sm">  
        <router-outlet></router-outlet>
    </div>
</div>
