<!--The content below is only a placeholder and can be replaced.-->
<br>
<br>
<div class="container"> 
    <div class="row">
        <div class="col">
          <button type="button"  routerLink="/etch" routerLinkActive="active" class="btn btn-primary btn-sm btn-block">Add Data <i class="fa fa-database" aria-hidden="true"></i></button>
        </div>
        <div class="col">
          <button type="button" routerLink="/charts" routerLinkActive="active" class="btn btn-secondary btn-sm btn-block">View Data <i class="fa fa-bar-chart" aria-hidden="true"></i></button>
        </div>
      </div>
</div>

<div class="container">
  <br>
    <div class="card">  
        <router-outlet></router-outlet>
    </div>
</div>
